---
import SwitchTheme from '@/components/switch-theme.svelte'
---

<header class="sticky top-0 z-20 w-full bg-white shadow dark:bg-dark-mode-elements">
  <section class="mx-auto flex max-w-7xl justify-between p-6">
    <h1 class="text-lg font-extrabold md:text-2xl">Where in the world?</h1>

    <SwitchTheme client:idle />
  </section>
</header>
