---
import Icon from 'shared/components/icon.astro'
---

<label
  for="search-input"
  class="flex w-full max-w-132 items-center gap-x-4 rounded-lg bg-white px-8 py-4 shadow-md dark:bg-dark-mode-elements"
>
  <Icon name="search" size={20} />
  <input
    id="search-input"
    placeholder="Search for a country..."
    class="w-full outline-none placeholder:font-semibold placeholder:select-none"
  />
</label>
