---
import MetaTags from 'shared/components/MetaTags.astro'
import '@/styles/app.css'
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags slug="social-media-dashboard-with-theme-switcher" themeColor="#1F212E" />
  </head>

  <body
    class="transition-standard font-inter dark:bg-top-dark-blue min-h-screen bg-white lg:flex lg:flex-col lg:content-between"
  >
    <slot />
  </body>
</html>
