@import 'shared/styles/tailwind';
@source "safelist.txt";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --font-barlow: 'Barlow', sans-serif;

  --color-guru: #ed2c49;
  --color-advanced: #f48925;
  --color-intermediate: #f1b604;
  --color-junior: #aad742;
  --color-newbie: #6abecd;

  --color-html: #6abecd;
  --color-css: #3e54a3;
  --color-js: #cf6390;
  --color-api: #aad742;
  --color-svelte: #ff3e00;

  --color-gray-100: #fafafa;
  --color-gray-200: #f0f4f4;
  --color-gray-300: #dbe5e6;

  --color-black: #1c2022;
  --color-white: #ffffff;
  --color-transparent: transparent;
}

@utility h-main {
  @apply h-[calc(100vh-240px)] md:h-[calc(100vh-206px)] lg:h-[calc(100vh-222px)];
}

@media (pointer: fine) {
  .transition-colorize {
    filter: grayscale(100%);
    transition: filter 300ms ease-in-out;
  }

  .transition-colorize:hover {
    filter: grayscale(0);
  }

  .transition-zooming {
    transition: transform 300ms ease-in-out;
  }

  .transition-zooming:hover {
    transform: scale(1.05);
  }
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/frontendmentor/fonts/barlow-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('/frontendmentor/fonts/barlow-500-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/frontendmentor/fonts/barlow-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/frontendmentor/fonts/barlow-700-italic.woff2') format('woff2');
}
