---
import MetaTags from 'shared/components/MetaTags.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags slug="fylo-landing-page-with-two-column-layout" themeColor="#070439" />

    <style>
      @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/frontendmentor/fylo-landing-page-with-two-column-layout/fonts/raleway-400.woff2') format('woff2');
      }
      @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/frontendmentor/fylo-landing-page-with-two-column-layout/fonts/raleway-700.woff2') format('woff2');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/frontendmentor/fylo-landing-page-with-two-column-layout/fonts/open-sans-400.woff2') format('woff2');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/frontendmentor/fylo-landing-page-with-two-column-layout/fonts/open-sans-700.woff2') format('woff2');
      }
    </style>
  </head>

  <body class="min-h-screen font-opensans">
    <slot />
  </body>
</html>
