---
import MetaTags from 'shared/components/MetaTags.astro'
import '@/styles/app.css'
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags slug="fylo-landing-page-with-two-column-layout" themeColor="#070439" />
  </head>

  <body class="min-h-screen font-opensans">
    <slot />
  </body>
</html>
