---
import { get } from 'shared/utils/http'
import { API_URL } from 'shared/consts'

import Card from '@/components/Card.astro'
import Layout from '@/layouts/Layout.astro'

interface Projects {
  level: {
    link: string
    name: string
    number: number
  }
  image: string
  link: string
  techs: string[]
  title: string
}

const { results } = await get<{ results: Projects[] }>(API_URL + '/projects/')
const hasProjects = results.length > 0
---

<Layout title="Frontendmentor Challenges Solved">
  <section class="border-y border-y-gray-300">
    <div class="mx-auto flex w-full max-w-[75rem] px-6 tracking-[0.2em]">
      <article class="w-max border-x border-x-gray-300 px-6 py-4 font-bold uppercase">My Solutions</article>
    </div>
  </section>

  <main
    class:list={[
      'mx-auto max-w-3xl xl:max-w-[75rem]',
      { 'h-main flex items-center': !hasProjects },
      { 'grid grid-cols-1 gap-2 px-6 py-24 sm:grid-cols-2 md:gap-8 xl:grid-cols-3': hasProjects },
    ]}
  >
    {
      hasProjects ? (
        results.map((projectData) => <Card {...projectData} />)
      ) : (
        <p class="mx-auto w-max text-2xl md:text-3xl">No projects to show...</p>
      )
    }
  </main>
</Layout>
