@import "shared/styles/tailwind";

:root {
  font-size: 14px;
}

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --font-spartan: "League Spartan", sans-serif;

  --color-desaturated-dark-cyan: hsl(180, 29%, 50%);

  --color-light-grayish-cyan: hsl(180, 52%, 96%);
  --color-very-light-grayish-cyan: hsl(180, 31%, 95%);

  --color-dark-grayish-cyan: hsl(180, 8%, 52%);
  --color-very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

@utility bg-header-mobile {
  background-size: cover;
  background-image: url("/frontendmentor/job-listings-with-filtering/images/bg-header-mobile.svg");
}

@utility bg-header-desktop {
  background-image: url("/frontendmentor/job-listings-with-filtering/images/bg-header-desktop.svg");
}

@utility badge {
  @apply flex;

  & .label {
    @apply flex font-bold leading-none select-none cursor-pointer px-2 w-max items-center rounded-[0.375rem] h-8 text-desaturated-dark-cyan bg-very-light-grayish-cyan;
    @apply hover:text-white hover:bg-desaturated-dark-cyan;
  }

  & button {
    @apply hidden;
  }

  &.filter {
    & .label {
      @apply rounded-tr-none rounded-br-none cursor-auto;
      @apply hover:text-desaturated-dark-cyan hover:bg-very-light-grayish-cyan;
    }

    & button {
      @apply block font-bold px-1 cursor-pointer items-center h-8 text-white rounded-tr-lg rounded-br-lg bg-desaturated-dark-cyan;
      @apply hover:bg-very-dark-grayish-cyan;

      & svg {
        @apply size-6;
      }
    }
  }
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/frontendmentor/job-listings-with-filtering/fonts/league-spartan-500.woff2") format("woff2");
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/frontendmentor/job-listings-with-filtering/fonts/league-spartan-700.woff2") format("woff2");
}