---
import ThemeSwitch from '@/components/ThemeSwitch.astro'
---

<header class="grid w-full grid-cols-[repeat(2,max-content)] items-center justify-between">
  <h1 class="fix-color text-primary text-4xl">calc</h1>
  <ThemeSwitch />
</header>
