---
import Key from '@/components/Key.astro'
import { keyList } from '@/scripts/consts.ts'
---

<section class="w-full rounded-xl bg-keypad p-8">
  <article class="mb-4 grid grid-cols-[repeat(4,4rem)] gap-4">
    {
      keyList.map(({ key, code }) =>
        key === 'Backspace' ? (
          <Key id={key} variant="secondary" value="DEL" />
        ) : (
          <Key id={Array.isArray(code) ? code[0] : key} value={key} />
        ),
      )
    }
  </article>
  <article class="grid w-full grid-cols-2 gap-x-4">
    <Key id="Delete" large variant="secondary" value="RESET" />
    <Key id="Enter" large variant="tertiary" value="=" />
  </article>
</section>
