---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {}

const { class: extraClass } = Astro.props
---

<button
  type="submit"
  class:list={[
    'bg-accent-blue hover:bg-accent-green h-12 w-full cursor-pointer rounded px-4 py-2 text-sm font-bold text-white shadow-lg outline-none active:border-0',
    extraClass,
  ]}
>
  <slot />
</button>
