---
import Link from 'shared/components/Link.astro'
---

<footer class="border-y border-gray-300 bg-white">
  <div
    class="mx-auto flex max-w-[75rem] flex-col justify-center gap-y-3 p-6 text-center md:flex-row md:justify-between"
  >
    <p>
      Design is property of <Link external to="https://www.frontendmentor.io/" class="font-bold hover:underline">
        Frontend Mentor
      </Link>
    </p>
    <p>
      Developed by <Link external to="https://erian.dev/" class="font-semibold text-html hover:underline">
        @eriandev
      </Link>
    </p>
  </div>
</footer>
