---
interface Props {
  level: number
  class?: string
}

const { level, class: extraClass } = Astro.props

const LEVELS = ['newbie', 'junior', 'intermediate', 'advanced', 'guru']
const levelColor = LEVELS[level - 1]
const bgColor = 'bg-' + levelColor
const textColor = 'text-' + levelColor
const borderColor = 'border-' + levelColor
---

<div
  class:list={[
    borderColor,
    'flex h-max w-max items-center rounded-md border text-xs font-bold leading-5 md:text-sm md:leading-6',
    extraClass
  ]}
>
  <span class:list={[
    bgColor,
    'block h-full rounded-l-sm px-2 text-white md:px-3'
  ]}>
    {level}
  </span>
  <span class:list={[
    textColor,
    'block px-1.5 uppercase md:px-3'
  ]}>
    {levelColor}
  </span>
</div>
