---
interface Props {
  level: number
  name: string
  class?: string
}

const { level, name, class: extraClass } = Astro.props

const bgColor = 'bg-' + name
const textColor = 'text-' + name
const borderColor = 'border-' + name
---

<div
  class:list={[
    'flex h-max w-max items-center rounded-md border text-xs font-bold leading-5 md:text-sm md:leading-6',
    borderColor,
    extraClass,
  ]}
>
  <span class:list={[bgColor, 'block h-full rounded-l-sm px-2 text-white md:px-3']}>
    {level}
  </span>
  <span class:list={[textColor, 'block px-1.5 uppercase md:px-3']}>
    {name}
  </span>
</div>
