---
interface Props {
  name: string
  class?: string
}

const { name, class: extraClass } = Astro.props
const bgColor = 'bg-' + name
---

<div class:list={['flex w-min items-center justify-center justify-items-center gap-2', extraClass]}>
  <span class:list={[bgColor, 'aspect-square size-3.5 rounded-sm']}></span>
  <span class="font-secondary text-sm leading-none font-bold text-neutral-800 uppercase">
    {name}
  </span>
</div>
