---
import Input from '@/components/Input.astro'
import Info from '@/components/Info.astro'
---

<header
  class="flex h-80 w-full flex-col gap-y-8 bg-pattern-mobile bg-cover bg-no-repeat px-4 py-5 md:bg-pattern-desktop xl:h-64"
>
  <h1 class="mx-auto text-center text-2xl text-white">IP Address Tracker</h1>
  <Input />

  <Info />
</header>
