<form class="mx-auto grid w-full max-w-lg grid-cols-[auto_max-content]">
  <label class="flex w-full cursor-pointer items-center rounded-l-xl bg-white px-4">
    <input
      type="text"
      name="ip-value"
      placeholder="Search for any IP address"
      class="w-full cursor-pointer font-thin placeholder:font-thin"
    />
  </label>
  <button class="rounded-r-xl bg-black px-6 py-4 text-xl font-bold text-white hover:bg-opacity-80">
    {'>'}
  </button>
</form>
