---
interface Props {
  id: string
}

const { id } = Astro.props
---

<button
  id={id}
  class="w-[368px] rounded-lg cursor-pointer bg-very-dark-violet py-4 font-medium tracking-wide text-white transition-transform duration-200 ease-in-out active:scale-95"
>
  <slot />
</button>
