---
interface Props {
  for?: string
}

const { for: forId } = Astro.props
---

<label
  for={forId}
  class="block pb-3.5 text-sm leading-none font-medium tracking-widest text-very-dark-violet uppercase"
>
  <slot />
</label>
