---
interface Props {
  for?: string
}

const { for: forId } = Astro.props
---

<label
  for={forId}
  class="text-very-dark-violet block pb-3.5 text-sm font-medium uppercase leading-none tracking-widest"
>
  <slot />
</label>
