---
import MetaTags from 'shared/components/MetaTags.astro'
import '@/styles/app.css'
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags slug="interactive-card-details-form" themeColor="#600594" />

    <script src="@/scripts/declareRefs.ts"></script>
    <script src="@/scripts/updateCards.ts"></script>
    <script src="@/scripts/validateInputs.ts"></script>
    <script src="@/scripts/formHandler.ts"></script>
  </head>

  <body class="min-h-screen font-space-grotesk">
    <slot />
  </body>
</html>
