---
import { get } from 'shared/utils/http'
import { API_URL } from 'shared/consts'
import MetaTags from 'shared/components/MetaTags.astro'

import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

interface Landing {
  header: {
    navigation: Array<{
      external: boolean
      text: string
      to: string
    }>
    profile: {
      image: {
        src: string
        alt: string
      }
      link: string
      title: string
    }
  }

  footer: {
    designedBy: {
      link: string
      text: string
    }
    developedBy: {
      link: string
      text: string
    }
  }
}

const { footer, header } = await get<Landing>(API_URL + '/landing/')
const { designedBy, developedBy } = footer
const { navigation, profile } = header
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags themeColor="#FAFAFA" />

    <style>
      @font-face {
        font-family: 'Barlow';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url('/frontendmentor/fonts/barlow-500.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Barlow';
        font-weight: 500;
        font-style: italic;
        font-display: swap;
        src: url('/frontendmentor/fonts/barlow-500-italic.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Barlow';
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url('/frontendmentor/fonts/barlow-700.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Barlow';
        font-weight: 700;
        font-style: italic;
        font-display: swap;
        src: url('/frontendmentor/fonts/barlow-700-italic.woff2') format('woff2');
      }
    </style>
  </head>

  <body class="min-h-screen bg-gray-100 font-barlow font-medium text-black">
    <Header {navigation} {profile} />
    <slot />
    <Footer {designedBy} {developedBy} />
  </body>
</html>
