---
import { get } from 'shared/utils/http'
import MetaTags from 'shared/components/MetaTags.astro'

import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import '@/styles/app.css'

interface Landing {
  header: {
    navigation: Array<{
      external: boolean
      text: string
      to: string
    }>
    profile: {
      image: {
        src: string
        alt: string
      }
      link: string
      title: string
    }
  }

  footer: {
    designedBy: {
      link: string
      text: string
    }
    developedBy: {
      link: string
      text: string
    }
  }
}

const { footer, header } = await get<Landing>(import.meta.env.PUBLIC_API_URL + '/landing/')
const { designedBy, developedBy } = footer
const { navigation, profile } = header
---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags themeColor="#FAFAFA" />
  </head>

  <body class="font-barlow min-h-screen bg-gray-100 font-medium text-black">
    <Header {navigation} {profile} />
    <slot />
    <Footer {designedBy} {developedBy} />
  </body>
</html>
